<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
    About Us
  </ion-title>
</ion-toolbar>

<ion-content class="ion-padding" text-center>


  <img src='../../assets/imgs/logo.png'>

  <h1 style="font-family: cursive">Shankheshwar Jewellers</h1>
  <p><strong>उत्सव नात्यांचे...परंपरा विश्वासाचे...!</strong></p>
<!--  
  <p>Release Date : 26 March, 2019</p> -->
  <p>1st Release : 21st April, 2019</p>
  <p>1st Update: 26th November, 2019</p>
  <p>2nd Update: 01st March, 2020</p>
  <p>3rd Update: 30th May, 2020</p>
  <p>4th Update: 3rd Jan, 2021</p>
  <pre>Version: 1.0.3</pre>
  <ion-footer class="ion-padding" style="font-family: Georgia, 'Times New Roman', Times, serif">Developed with ♥ by Yash Jain
  </ion-footer>
</ion-content>