<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      शंखेश्वर ज्वेलर्स
    </ion-title>
    <ion-buttons slot="end">

      <ion-button (click)="resetForms()" fill="clear">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <ion-item>
            Voucher No: {{voucherNo}}
          </ion-item>
        </ion-col>
        <ion-col width-50>
          <ion-item>
            <ion-icon name="calendar-outline"></ion-icon>
            &nbsp;
            <ion-datetime [(ngModel)]="today"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form [formGroup]='itemForm'>
      <ion-item>
        <ion-label position="fixed">Name</ion-label>
        <ion-input autofocus="true" autocapitalize="words" formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Address</ion-label>
        <ion-input autocapitalize="on" formControlName="address" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Contact</ion-label>
        <ion-input inputmode="tel" minlength="10" formControlName="contact" type="number"></ion-input>
        <ion-button slot="end" fill="clear" (click)="toggleWhatsapp()">
          <ion-icon [color]="isWhatsapp? 'success' : 'medium'" name="logo-whatsapp" class="icon-small"> </ion-icon>

        </ion-button>
      </ion-item>
      <ion-card style="border: 1px; border-color: black" *ngIf="isNewBillingItem">
        <ion-item>
          <ion-button size="default" [fill]="goldFill" (click)="categorySelected('Gold')" style="width: 24%;">
            Gold</ion-button>
          <ion-button size="default" [fill]="silverFill" (click)="categorySelected('Silver')" style="width: 24%;">Silver
          </ion-button>
          <ion-button size="default" [fill]="otherFill" (click)="categorySelected('')" style="width: 24%;">
            Other</ion-button>
          <ion-button size="default" fill="solid" color="dark" (click)="toggleBill()"
            style="width: 24%; font-size: 100%">
            मोड़
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Description</ion-label>
          <ion-input #desc autocapitalize="on" formControlName="description" (keyup)="getSavedDescription(desc.value)">
          </ion-input>

          <ion-button *ngIf="category === 'Gold'" slot="end" fill="clear" (click)="comment()">
            <img [src]="is916Hallmark? '../../assets/imgs/916-enabled.png': '../../assets/imgs/916-disabled.png'"
              class="hallmark">
          </ion-button>
        </ion-item>

        <ion-list *ngIf="descriptions.length" class="search-results">
          <ion-item color="light" *ngFor="let d of descriptions, let i=index" (click)="saveSearchedItem(d.description)">
            <i>
              {{d.description}}
            </i>
            <ion-icon slot="end" name="close-outline" (click)="closeDescription($event)" *ngIf="i == 0"></ion-icon>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label position="fixed">{{isNettWeight ? 'Gross' : 'Nett'}} Weight</ion-label>
          <ion-input formControlName="weight1" (keyup)="getWeight2()" type="number"></ion-input>

          <ion-button fill="clear" slot="end" (click)="toggleNettWeight()">
            <ion-icon name="{{isNettWeight? 'close-outline' : 'remove-outline'}}"> </ion-icon>
          </ion-button>
        </ion-item>

        <ion-item *ngIf="isNettWeight">
          <ion-label position="fixed">Less Weight</ion-label>
          <ion-input formControlName="lessWeight" (keyup)="getWeight2()" type="number"></ion-input>
        </ion-item>

        <ion-item *ngIf="isNettWeight">
          <ion-label position="fixed">Nett Weight</ion-label>
          <ion-input formControlName="weight2" type="number">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Rate/gm</ion-label>
          <ion-input formControlName="rate" type="number"></ion-input>
          <ion-button (click)="updateRate()" fill="clear"
            *ngIf="categoryRate && categoryRate != itemForm.controls['rate'].value">
            <ion-icon color="medium" class="icon-small" name="save"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Making</ion-label>
          <ion-input formControlName="making" type="number"></ion-input>
          <ion-button fill="clear" (click)="toggleMakingType()">
            {{ makingType === '/gram' ? '/gm' : '/item'}}
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Amount</ion-label>
          <ion-input #amount [value]="getAmount() || ''" formControlName="amount" type="number">
          </ion-input>
        </ion-item>
        <ion-item *ngIf="amount.value">
          <ion-button size="default" class="ion-text-wrap" fill="solid" (click)="addNewItem()" style="width:45%">
            <ion-icon name="add"></ion-icon>
            &nbsp; New Item
          </ion-button>
          <ion-button size="default" class="ion-text-wrap" fill="outline" (click)="goToLessBill()"
            style="width:45%; font-size: 100%">
            <ion-icon name="remove"></ion-icon>
            &nbsp;मोड़
          </ion-button>
        </ion-item>
      </ion-card>

    </form>
    <ion-card *ngIf="!isNewBillingItem">
      <form [formGroup]='lessForm'>
        <ion-item color="dark">
          <ion-label>
            Old Less <ion-icon style="float:right" name="close" (click)="toggleBill()"></ion-icon>
          </ion-label>

        </ion-item>
        <ion-item>
          <ion-label position="fixed">Description</ion-label>
          <ion-input autocapitalize="on" formControlName="description" #oldDescription type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Amount</ion-label>
          <ion-input formControlName="amount" #oldValue type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-button [disabled]="!oldValue.value" size="default" class="ion-text-wrap" fill="solid"
            (click)="addNewLess(true)" style="width:45%">
            <ion-icon name="add"></ion-icon>
          </ion-button>
          <ion-button [disabled]="!oldValue.value" size="default" class="ion-text-wrap" fill="outline"
            (click)="addNewLess(false)" style="width:45%">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </form>
    </ion-card>

    <ion-card class="p-0 m-0" *ngIf="items.length || lesses.length">
      <ion-item *ngFor="let item of items">
        <ion-label class="ion-text-wrap">{{item.description}}</ion-label>
        <ion-label> {{item.nettWeight}} gm </ion-label>
        <ion-label>₹ {{item.amount}} </ion-label>
        <!-- <ion-button fill="clear" size="default" color="dark">
            <ion-icon name="create"></ion-icon>
          </ion-button> -->
        <ion-button (click)="deleteItem(item)" fill="clear" size="default" color="dark">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item *ngFor="let less of lesses" style="color: brown">
        मोड़&nbsp;
        <ion-label class="ion-text-wrap">{{less.description}}</ion-label>
        <ion-label class="ion-text-end">₹ {{less.amount}} </ion-label>
        <!-- <ion-button fill="clear" size="default" color="dark">
            <ion-icon name="create"></ion-icon>
          </ion-button> -->
        <ion-button (click)="deleteLess(less)" fill="clear" size="default" color="dark">
          <ion-icon name="trash"></ion-icon>
        </ion-button>

      </ion-item>
    </ion-card>

    <!-- FEATURE TO ADD 'PAYMENT MODE': 'BharatPe, Swipe, Cheque'-->
    <!--  
       <ion-item *ngIf="lesses.length || items.length">
      <ion-select class="mr-1" [(ngModel)]="paymentType" interface="action-sheet" placeholder="Payment mode">
        <ion-select-option value="BharatPe">BharatPe</ion-select-option>
        <ion-select-option value="Card">Card Swipe</ion-select-option>
      </ion-select>
      <ion-input [(ngModel)]="payment" style="text-align: right" [disabled]="!paymentType" type="number"
        placeholder="Amount">
      </ion-input>
      <ion-button fill="clear" [disabled]="!payment">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-item> -->

    <ion-item>
      <ion-label>Total Bill Amount (₹)</ion-label>
      <ion-label class="ion-text-end">{{getTotalAmount()}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Paid Amount (₹)</ion-label>
      <ion-input style="text-align: right" (focus)="this.select()" color="secondary" #paidAmount type="number"
        [value]="getTotalAmount()">
      </ion-input>
    </ion-item>
    <ion-grid *ngIf="getTotalAmount() - paidAmount.value > 0" class="ion-no-padding">
      <ion-row>
        <ion-col width-65>
          <ion-item>
            <ion-label>Balance</ion-label>
            <ion-input style="text-align: right" type="number" [value]="getTotalAmount() - paidAmount.value">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col width-30>
          <ion-item>
            <ion-label>{{ billClear ? 'Its Okay!' : 'Pending'}}</ion-label>
            <ion-toggle slot="end" [(ngModel)]="billClear"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-button [disabled]="!(lesses.length || items.length)" fill="solid" expand="full" class="ion-text-wrap"
      (click)="finishBilling(paidAmount.value)">
      <ion-icon name="checkmark"></ion-icon>&nbsp; Finish Billing
    </ion-button> -->
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" [disabled]="!(lesses.length || items.length)"
      (click)="finishBilling(paidAmount.value)">
      <ion-icon name="print-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>